.banner {
  margin-top: 42px;
}
.container {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  max-width: 1470px;
}

.pic {
  display: flex;
  justify-self: center;
}
